@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav bar start here  */
nav{
    width:1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 35px;
}
nav h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}
.btn{
    width: 230px;
    height: 58px;
    border: 1px solid rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}   
    
.btn a{
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    
}
/* nav bar end here  */

/* hero area start here  */
.hero-area{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no repeat;
}
.hero-container{
    width: 998px;
    height: 582px;
    margin: 26px 221px 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.hero-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}
.hero-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.hero-container .btn{
    background: rgb(13, 19, 33);
    color: white;
    position: static;
    width: 238px;
    height: 66px;
   margin-bottom: 0;
}
.contact{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}
/* hero area end here  */

/* main section start here  */

/* container box 1 start here  */
.container-box-1{
    width: 1140px;
    height: 1395px;
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.main-container{
    width: 946px;
    height: 1235px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.web-heading{
    width: 852px;
    height: 115px;
    text-align: center;
    
    
}
.web-heading h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.web-body{
    width: 946px;
    height: 1072px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
.para-1{
    width: 850px;
    height: 240px;
    
    display: flex;
    justify-content: space-around;
    border-radius: 16px ;
    
   
    
    

}
.para-1-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.para-1-container h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;

}
.para-1-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    
}
.para-1-container a {
    text-decoration: none;
    
   
}
.link-learn-more{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;   
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    
}
.para-2{
    width: 850px;
    height: 240px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.para-2-container{
    width: 477px;
    height: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}
.para-2-container h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.para-2-container p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    

}

.para-2-container a{
    text-decoration: none;
}

/* container-box-1 end here */


.container-box-2{
    width: 1140px;
    height: 775px;
   
    margin: 0 auto;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-box-2-heading{
    text-align: center;
}
.container-box-2-heading h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.video-container-box{
    width: 1140px;
    height: 614px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;  
    

}
.video-container{
    max-width: 1076px;
    width: 100%;
    height: 550px;
    
    align-items: center;
    border-radius: 16px;
    position: relative;
    width: 100%;
    overflow: hidden;
   
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* container-box-2 end here  */
/* container-box-3 start here  */


.container-box-3{
    width: 1140px;
    height: 460px;
    
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.target-page-heading{
    text-align: center;
}
.target-page-heading h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}
.target-page-body{
    width: 1140px;
    height: 299px;
    
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
.web-lang{
    width: 364px;
    height: 299px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.web-lang a{
    color: black;
    
}
.html-lang{
    background-color: #FFF6F4;

}
.css-lang {
    background-color: #F2F6FE;

}
.java-lang{
    background-color:#Fffdf2 ;

}

.html-lang , .css-lang ,.java-lang {
    width: 284px;
    height: 219px;
    padding: 20px;
    border-radius: 16px;
    
   
   

}
.html-lang img,p{
    margin-bottom: 10px;
    

}
.css-lang img,p{
    margin-bottom: 10px;

}
.java-lang img,p{
    margin-bottom: 10px;
    
}
/* container-box-3 end  here */


/* container-box-4  start  here  */
.container-box-4{
    width: 1140px;
    height: 866px;
    
    margin: 80px auto;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.next-target-box-heading{
    
    
    margin: 0 auto;
    text-align: center;

}
.next-target-box-heading h3{
    margin-bottom: 25px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.target-box{
    width: 1140px;
    height: 705px;
    
    display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.target-box-1 , .target-box-2, .target-box-3{
    width: 1140px;
    height: 219px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    
    
    
    
}
.target-box a{
    color: black;

}
.lang-name{
    margin-left: 30px;
}

/* container-box-4  end  here */







/* container-box-5 start  here*/

/* footer start here  */

#footer{
   
    width: 1140px;
    height: 313px;
    border-radius: 16px;
    margin: auto;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/handshake.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer-box{
    width: 1044px;
    height: 185px;
    
    color: #FFF6F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;


}
#footer-box h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    
}
#footer-box p{
    color: rgba(255, 255, 255, 0.985);
    opacity: 0.7;
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}
.input-container {
    display: flex;

    margin-bottom: 50px;
    width: 548px;
    height: 57px;
}

.input-container .text{
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
}
.input-container .btn{
    margin-left: 10px;
    width: 120px;
    background:white;
    opacity: 1;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.ending-part{
    width: 1500px;
    height: 100px;
    
    margin: auto;
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ending-container{
    width: 1140px;
    height: 36px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.ending-container .developer-owner{
    color: rgb(13, 19, 33);
    
}
/* footer end  */